ale-py==0.7
appnope==0.1.0
atari-py==0.2.9
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.1.0
certifi==2018.4.16
chardet==3.0.4
charset-normalizer==2.0.6
cloudpickle==1.6.0
cmake==3.21.3
cycler==0.10.0
debugpy==1.4.3
decorator==4.3.0
entrypoints==0.3
future==0.16.0
gym==0.20.0
gym-super-mario-bros==7.3.2
idna==2.7
imageio==2.9.0
importlib-resources==5.2.2
ipykernel==5.3.4
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.12.1
jupyter-client==7.0.3
jupyter-core==4.8.1
kiwisolver==1.0.1
magent==0.1.14
matplotlib==2.2.2
matplotlib-inline==0.1.3
more-itertools==8.10.0
nes-py==8.1.8
nest-asyncio==1.5.1
networkx==2.6.3
numpy==1.21.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==8.3.2
pip==21.2.4
pluggy==1.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
py==1.10.0
pygame==2.0.1
pyglet==1.5.11
Pygments==2.10.0
pyparsing==2.2.0
pytest==3.10.1
python-dateutil==2.7.3
pytz==2018.5
PyWavelets==1.1.1
pyzmq==22.3.0
requests==2.26.0
scikit-image==0.18.3
scipy==1.6.1
setuptools==58.0.4
simplegeneric==0.8.1
six==1.11.0
tifffile==2021.8.30
torch==1.9.1
tornado==6.1
tqdm==4.62.3
traitlets==4.3.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.1.7
wheel==0.37.0
zipp==3.5.0
